In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

C:\Users\Feyi\Anaconda3\envs\tf\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Feyi\Anaconda3\envs\tf\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\Feyi\Anaconda3\envs\tf\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
#Import dataset
df=pd.read_csv('Data_for_UCI_named.csv')

In [3]:
#Check the Number of missing values in each column
df.isna().sum()

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [4]:
#Check the distribution of the target variables
df[ 'stabf' ].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [5]:
df.head(10)

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable
5,6.999209,9.109247,3.784066,4.267788,4.429669,-1.857139,-0.670397,-1.902133,0.261793,0.077930,0.542884,0.469931,-0.017385,stable
6,6.710166,3.765204,6.929314,8.818562,2.397419,-0.614590,-1.208826,-0.574004,0.177890,0.397977,0.402046,0.376630,0.005954,unstable
7,6.953512,1.379125,5.719400,7.870307,3.224495,-0.748998,-1.186517,-1.288980,0.371385,0.633204,0.732741,0.380544,0.016634,unstable
8,4.689852,4.007747,1.478573,3.733787,4.041300,-1.410344,-1.238204,-1.392751,0.269708,0.250364,0.164941,0.482439,-0.038677,stable
9,9.841496,1.413822,9.769856,7.641616,4.727595,-1.991363,-0.857637,-1.878594,0.376356,0.544415,0.792039,0.116263,0.012383,unstable

In [6]:
df = pd.DataFrame(df)

In [7]:
X = df.drop(columns=[ 'stab' , 'stabf' ])
Y = df.drop(columns=[ 'tau1' ,'tau2', 'tau3', 'tau4', 'p1', 'p2', 'p3', 'p4', 'g1', 'g2', 'g3', 'g4', 'stab' ])

In [8]:
X.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923

In [9]:
Y.head()

      stabf
0  unstable
1    stable
2  unstable
3  unstable
4  unstable

In [10]:
#Data is split here
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.2, random_state= 1)

In [11]:
#Encode categorical variable i.e stable & unstable
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y_train = encoder.fit_transform(y_train.values.ravel())
y_test = encoder.transform(y_test.values.ravel())

In [12]:
y_train.shape

(8000,)

In [13]:
y_test.shape

(2000,)

In [14]:
#Applying standard scaler
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [22]:
#Random Forest model
from sklearn.ensemble import RandomForestClassifier
RFclassifier = RandomForestClassifier(random_state = 1)
RFclassifier.fit(x_train, y_train)

RandomForestClassifier(random_state=1)

In [23]:
RF_y_pred = RFclassifier.predict(x_test)
accuracy = accuracy_score(y_test, RF_y_pred)
print( 'Accuracy: {}' .format(accuracy))

Accuracy: 0.929

In [24]:
#ExtraTree classifier
from sklearn.ensemble import ExtraTreesClassifier
ETclassifier = ExtraTreesClassifier(random_state = 1)
ETclassifier.fit(x_train, y_train)

ExtraTreesClassifier(random_state=1)

In [25]:
ET_y_pred = ETclassifier.predict(x_test)
accuracy = accuracy_score(y_test, ET_y_pred)
print( 'Accuracy: {}' .format(accuracy))

Accuracy: 0.928

In [15]:
#Extreme boosting model
from xgboost import XGBClassifier
xgboost_model = XGBClassifier(random_state = 1)
xgboost_model.fit(x_train, y_train)

C:\Users\Feyi\Anaconda3\envs\tf\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[14:16:49] WARNING: D:\bld\xgboost-split_1645118015404\work\src\learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=4,
              num_parallel_tree=1, predictor='auto', random_state=1,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [18]:
xgboost_model_y_pred = xgboost_model.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, xgboost_model_y_pred)
print( 'Accuracy: {}' .format(accuracy))

Accuracy: 0.9455

conda install -c conda-forge lightgbm

In [19]:
#Light gradient boosting model
from lightgbm import LGBMClassifier
LGBM_model = LGBMClassifier(random_state = 1)
LGBM_model.fit(x_train, y_train)

LGBMClassifier(random_state=1)

In [21]:
LGBM_model_y_pred = LGBM_model.predict(x_test)

accuracy = accuracy_score(y_test, LGBM_model_y_pred)
print( 'Accuracy: {}' .format(accuracy))

Accuracy: 0.9395